.navbar {
    text-align: center;
}

.navbar button {
    background: none;
    text-align: center;
    color: #ffffff;
    margin: 5px 20px;
    outline: none;
    border-radius: 24px;
    border: solid 2px #ff4757;
    padding: 14px 40px;
    cursor: pointer;
    transition: 0.25s;
    box-shadow: 0 0 5px 2px #ff4757,
                inset 0 0 5px 2px #ff4757;
}

.navbar button:hover,  .navbar .activate {
    background-color: #ff4757;
    box-shadow: 0 0 100px 2px #ff4757,
        inset 0 0 5px 2px #ff4757;
}

.navbar .activate {
   cursor: auto;
}